<div class="card my-3">


    {{!-- Header du ollapse --}}

    <div class="card-header" id="listMessages">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseMessages"
                aria-expanded="true" aria-controls="collapseMessages">
                <h5>Liste des messages</h5>
            </button>
        </h2>
    </div>

    {{!-- / Header du ollapse --}}




    <div id="collapseMessages" class="collapse show" aria-labelledby="listMessages" data-parent="#accordionExample">
        <div class="card-body">


            <table class="table table-bordered">


                {{!-- Header du tableau --}}

                <thead class="thead-dark ">
                    <tr class="">
                        <div class="row text-center">


                            <th scope="col" class="text-center mx-auto">Nom</th>
                            <th scope="col" class="text-center mx-auto">Prénom</th>
                            <th scope="col" class="text-center mx-auto">Email</th>
                            <th scope="col" class="text-center mx-auto">Objet de la demande</th>
                            <th scope="col" class="text-center mx-auto">Description</th>
                            <th scope="col" class="text-center mx-auto">Supprimer</th>


                        </div>
                    </tr>
                </thead>
                {{!-- Header du tableau --}}



                {{!-- Contenu du tableau avec each pour item répété --}}

                <tbody>

                    {{#each message }}

                    <tr>

                        <td class="text-center">{{ this.nameMessage }}</td>
                        <td class="text-center">{{ this.firstNameMessage }}</td>
                        <td class="text-center">{{ this.emailMessage }}</td>
                        <td class="text-center">{{ this.objectMessage }}</td>
                        <td class="text-center">{{ this.contentMessage }}</td>



                        {{!-- Bouton Supprimer --}}

                        <td class="text-center">
                            <form action="/{{_id}}/message?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger" data-toggle="modal"
                                    data-target="#deleteItem">
                                    Supprimer
                                </button>
                            </form>
                        </td>
                        {{!-- / Bouton Supprimer --}}

                    </tr>

                    {{/each}}

                </tbody>
                {{!-- / Contenu du tableau --}}

            </table>
        </div>
    </div>
</div>


{{!-- / Collapse liste client --}}